<!-- <h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div> -->

<section class="cart">
  <div class="container">
    <h1 class="text-center">My Courses</h1>

    <div class="row mt-5">
      <div class="col-lg-3 mb-5" *ngFor="let item of items">
        <div class="box">
          <img src="{{item.image}}" width="50%">
          <h4 class="mt-2">{{item.name}}</h4>
          <p class="mt-2">{{item.description}}</p>
          <button class="nav-link btn-success rounded-pill btn-sm mt-2" routerLink="joinnow">Watch</button>
        </div>
      </div>
    </div>
  </div>
</section>