.cart{
    background-color: #e0ecfc;
    padding: 50px 100px;
}
.box{
    background-color: #ffffff;
    padding: 10px 20px;
}
.box:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); 
  }
@media screen and (max-width:600px){
    .cart{
        background-color: #e0ecfc;
        padding: 50px 10px;
    }
}